ebody{
	margin:0px;
	font-family: "Lato" , sans-serif;
}

.container{
	display:grid;
	grid-templates-columns:1fr;
}
.img-background{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../background.cdu.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}

.top{
	display:flex;
	flex-direction:row;
	top:0;
	right:0;

}
.logo img{
	width:100px;
	height:auto;
}

 .top ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

.top ul li{
    display: inline-block;
}

.top ul li a{
    text-decoration: none;
	color: #black;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.top ul li a:hover{
	background-color: #black;
	color: #000;
}

.top l li.active a{
	background-color: #black;
	color: #white;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
animation:5s blinker linear infinite;
    -webkit-animation:5s blinker linear infinite;
    -moz-animation:5s blinker linear infinite;

     color: white;
    }

    @-moz-keyframes blinker {
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }


}

.title h1{
	color: #fff;
	font-size: 50px

}
.top{
	display:flex;
	justify-content:space-between;


}
.lastrow h2{
	position: center;
	top:50%;
	left: 50%;
	transform: translate (-50%,-50%)
}

.PHOTOGRAPHY {
	padding: 10px;
	background-color:#d1fbfc;
}


/* Contact us page */

.get_in_touch{

	background: #9999 ;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../getintouch.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;



    max-width: 800px;
	margin: 50px auto;
	position: relative;
	box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
	padding: 30px;
}
.get_in_touch .title{
    text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-size: 3em;
	line-height: 48px;
	padding-bottom: 20px;
	color: #5543ca;
	background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.contact-form .form-field{
    position: relative;
	margin: 32px 0;
}
.contact-form .input-text{
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	border-color: #5543ca;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label{
	transform: translateY(-24px);
}
.contact-form .input-text:focus{
	outline: none;
}
.contact-form .label{
	position: absolute;
	left: 20px;
	bottom: 11px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #5543ca;
	cursor: text;
	text-transform: capitalize;
	transition: transform 0.2s ease-in-out;
}

.contact-form .submit-btn{
	display: inline-block;
	background-image: linear-gradient(123deg, #a72879,#064497);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	width: 200px;
	cursor: pointer;
}
